centralna-banka/src/main/resources/wsdl/services.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://www.paymentsystem.rs/services"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <schema targetNamespace="http://www.paymentsystem.rs/schemas"
                xmlns="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="qualified"
                elementFormDefault="qualified"
                version="1.0">

            <import schemaLocation="../schemas/mt102.xsd" namespace="http://www.paymentsystem.rs/schemas/mt102" />
            <import schemaLocation="../schemas/mt103.xsd" namespace="http://www.paymentsystem.rs/schemas/mt103" />
            <import schemaLocation="../schemas/mt900.xsd" namespace="http://www.paymentsystem.rs/schemas/mt900" />
            <import schemaLocation="../schemas/mt910.xsd" namespace="http://www.paymentsystem.rs/schemas/mt910" />
        </schema>
    </types>

    <message name="RTGS_Request">
        <part name="mt103" element="mt103" />
    </message>
    <message name="RTGS_Response">
        <part name="mt900" element="mt900" />
    </message>
    <message name="ClearingAndSettlement_Request">
        <part name="mt102" element="mt102" />
    </message>
    <message name="StringResponse">
        <part name="message" element="StringResponse" />
    </message>

    <portType name="CentralBank_PortType">
        <operation name="receiveMt103">
            <input message="RTGS_Request" />
            <output message="RTGS_Response" />
        </operation>
        <operation name="receiveMt102">
            <input message="ClearingAndSettlement_Request" />
            <output message="StringResponse" />
        </operation>
    </portType>
    
    <binding name="CentralBank_Binding" type="CentralBank_PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <operation name="receiveMt103">
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    
    <service name="CentralBank_Service">
        <port binding="CentralBank_Binding" name="CentralBank_Port">
            <soap:address location="http://localhost:8080/ws" />
        </port>
    </service>

</definitions>